@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Shrikhand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background-color: salmon; */
  font-size: 16px;
  font-family: "Fira Code", monospace;
  background-color: #222;
  color: #eee;
}

#startDiv {
  /* Satta: Start button*/
  padding: 1rem;
  position: fixed;
  left: 50%;
  top: 6%;
  translate: -50% -50%;
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  padding: 1rem;
  position: fixed;

  width: 100%;
  max-width: 820px;
  height: 100%;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  width: 100%;
  /* height: 5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#currentScore {
  font-size: 2rem;
  padding: 0.5rem;
}

#timeDisplay {
  --progress: 100%; /* Staffan: This will be updated from JS */
  --progress-color: #eee;
  position: relative;
  width: 100%;
  height: 1rem;
  border: var(--progress-color) solid 2px;
}

#timeDisplay::after {
  position: absolute;
  content: "";
  height: 100%;
  width: var(--progress);
  background-color: var(--progress-color);
}

.flags-container {
  display: flex;
  position: relative;
  width: 100%;
  flex: 1;
  align-items: center;
}

.flag {
  padding: 1rem 0;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 30%;
  gap: 1rem;
  flex-wrap: wrap;
}

button {
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #fff;
  transition: all 80ms ease;
  font-size: 2rem;
  font-family: unset;
  color: #222;
}

button:hover:not(.button-option:disabled) {
  /* background-color: aqua; */
  scale: 1.05;
  text-decoration: underline;
}

.button-option {
  padding: 0;
  width: calc(
    50% - 0.5rem
  ); /* Staffan: calc() to compensate for the gap of parent element */
}

.button-option:disabled {
  color: #222;
}

.button-option--correct {
  background-color: #0f0;
  scale: 1.05;
  z-index: 100;
}

.button-option--wrong {
  background-color: #f00;
}

.button-option--inactive {
  opacity: 0.2;
  scale: 0.7;
}

.appear-anim {
  animation: slideInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 300ms; /* don't forget to set a duration! */
}

.hidden {
  visibility: hidden;
}
